elasticsearch.hosts: ["https://192.168.33.25:9200", "https://192.168.33.26:9200", "https://192.168.33.27:9200"]
server.host: "{{ ansible_host }}"
server.name: "{{ inventory_hostname }}"
elasticsearch.password: "{{ elastic_pass }}"
elasticsearch.username: kibana_system
logging.dest: /var/log/kibana/kibana.log
server.port: "{{ kibana_api_port }}"
xpack.encryptedSavedObjects.encryptionKey: "{{ kibana_encryptionKey }}"
xpack.security.audit.enabled: true

server.ssl.enabled: true
server.ssl.certificate: /etc/kibana/config/certs/kibana-1.crt
server.ssl.key: /etc/kibana/config/certs/kibana-1.key
elasticsearch.ssl.certificateAuthorities: [ "/etc/kibana/config/certs/ca.crt" ]
