# /etc/logstash/conf.d/logstash.conf

input {
  file {
    path => "/var/log/syslog"
    start_position => "beginning"
  }
}

output {
  elasticsearch {
    hosts => ["https://192.168.33.26:9200", "https://192.168.33.27:9200"]
    user => "elastic"
    password => "{{ elastic_pass }}"
    cacert => '/etc/logstash/certs/ca.crt'
  }
}

